.classpath
.settings
.project
workspace.xml
bin
target
src/main/java/org/natty/generated/*
src/main/java/*.tokens
src/main/antlr3/org/natty/generated/DebugDateParser.g
src/main/antlr3/org/natty/generated/DebugDateWalker.g

# IntelliJ Idea
*.iml
.idea
