.classpath
.settings
.project
.idea
workspace.xml
bin
target
src/main/java/com/joestelmach/natty/generated/*
src/main/java/*.tokens
src/main/antlr3/com/joestelmach/natty/generated/DebugDateParser.g
src/main/antlr3/com/joestelmach/natty/generated/DebugDateWalker.g
