<h1>enter something resembling a date:</h1>
<input type="text" id="text_input" />
<br/>
<input type="submit" id="submit" value="parse" />

<div id="structure" style="display:none">
  <h2>Here's how we broke it down:</h2>
  <div id="structure_details"></div>
</div>

<div id="result" style="display:none">
  <h2>For a final value of:</h2>
  <div id="result_details"></div>
</div>
