<h1>enter something resembling a date:</h1>
<input type="text" id="text_input" />
<br/>
<input type="submit" id="submit" value="parse" />
<img src="images/loading.gif" id="loading" style="display:none" />
<div id="result" style="display:none;"></div>

<div id="errors" style="display:none">The parser has encounterd an un-resolvable bug</div>

<div id="structure" style="display:none">
  <h2>here's how we broke it down:</h2>
  <div id="structure_details"></div>
</div>

<br />
<div id="ast" style="display:none">
  <h2>and here's the ast we built:</h2>
  <div id="ast_details"></div>
</div>
<br />

