<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Natty Date Parser</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
    <script src="javascripts/prototype.js"></script>
  </head>
  
  <body>
    <div id="nav">
      <ul>
        <li class='first<%=" current" if @url == '/' or @url == '/index'%>'><a href="index">parser</a></li>
        <li class='<%=" current" if @url == '/searcher'%>'><a href="searcher">searcher</a></li>
      </ul>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="margin"></div>
  </body>
</html>
