<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Natty Date Parser</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
    <script src="javascripts/prototype.js"></script>
  </head>
  
  <body>
    <div id="content">
      <%= yield %>
    </div>
    <div id="margin"></div>
  </body>
</html>
