<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Natty Date Parser</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <script src="/javascripts/jquery-1.4.1.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>
