<script src="javascripts/Searcher.js"></script>

<h1>enter or upload some text, and we'll find some dates</h1>

<textarea id="search_input"></textarea>
<div id="submit_row">
  <div id="submit">parse</div>
  <img src="images/loading.gif" id="loading" style="display:none" />
</div>
