html {
  padding:0;
  margin:0;
}

body {
  font-family:Helvetica;
  padding:0;
  margin:0;
  background:url(../images/bg.gif) #f4f9fd repeat-y 180px 0;
}

h1,
h2 {
  font-size:28px;  
  font-weight:normal;
  color:#888;
}

h2 {
  font-size:20px;  
}

#nav {
  float:left; 
  width:180px;
}

#nav ul {
  list-style-type:none;
  padding:0;
  margin:34px 0 0 0;
}

#nav ul li {
  border-bottom:1px solid #ccc;
  text-align:right;
}

#nav ul li.first {
  border-top:1px solid #ccc;
}

#nav ul li.current a {
  background-color:#fff;
  color:#000;
}

#nav ul li a {
  display:block;
  padding: 10px 20px 10px 10px;
  text-decoration : none;
  color:#888;
  background-color:#fff;
}

#content {
  width : 760px;
  padding:20px;
  margin:0 0 0 180px;
  top:0;
  bottom:0;
}

#text_input {
  width:660px;
  font-size:18px;
  margin-bottom:20px;
}

#error {
  color : #903;
  line-height:32px;
  font-size:18px;
}

#submit_row {
  line-height:32px;
}

#submit_row * {
  float:left;
  margin-right:20px;
  font-size:18px;
}

#submit {
  -webkit-appearance : square-button;
  -moz-appearance : button-bevel;
  cursor:pointer;
  font-size:22px;
  line-height:22px;
  padding:5px;
}

#date_wrapper {
  clear:both;
  padding-top:20px;
}

#date {
  background-color:#FFFFCC;
}

#summary {
  clear:both;
  padding-top:20px;
}

#structure .index {
  border:1px solid #aaa;
  padding:5px 5px 0 5px;
  margin-right:5px;
  font-size:20px;
  float:left;
  font-weight:bold;
}

#structure .index.imaginary {
  border:none;
}

#structure .index .name {
  padding:5px 0;
  font-size:12px;
  font-weight:normal;
  clear:both;
}

#ast {
  clear:both;
  padding-top:20px;
  color :#222;
}

#ast #ast_details .token {
  margin-top:5px;
}

#ast #ast_details .spacing {
  color :#aaa;
  font-weight:normal;
}

#ast #ast_details .root {
  font-weight:bold;
}

/**** searcher ****/

textarea#search_input {
  width:660px;
  height:160px;
  margin-bottom:20px;
}

#results {
  clear:both;
  padding-top:20px;
}

.highlight {
  background-color:#FFFFCC;
  font-weight:bold;
}

#result_list {
  list-style-type:none;
  margin:0 0 40px 0;
  padding:0;
}

#result_list li {
  margin-bottom:10px;
}
